<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ÜrünStokTakipSistemi.Properties.Settings.ÜrünStokTakipSistemiConnectionString"
            connectionString="Data Source=DESKTOP-4A60A25\SQLEXPRESS;Initial Catalog=ÜrünStokTakipSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>